{% extends 'base/base.html' %}
{% block title %}Room{% endblock  %}

{% block content %}
	<h2>this is a room</h2>
	<h5>{{rooms.count}} rooms avaiable</h5>
	<a href="{% url 'room:createroom'%}">Create Room</a>
	<div>
		{% for room in rooms %}
			<div>
				<a href = "{% url 'room:detail' room.id%}">{{room.id}} -- {{room.name}}</a>
				{% if request.user == room.host %}
					<a href="{% url 'room:update' room.id%}">--Edit</a>
					<a href="{% url 'room:del' room.id%}">--Del</a>
				{% endif%}
			</div>
		{% endfor %}
	</div>
{% endblock %}